
<script>
    var revision = 250320;
    var file = 'images/sprite.svg';
</script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/base.js"></script>
<script src="js/dev.js"></script>
 