<footer>
    <div class="instagram">
        <div class="instagram__title">Подписывайтесь на наш Instagram: <a href="#">@oniks_jewellery</a></div>
        <div class="instagram__subtitle">Ювелирные украшения с нотками минимализма – важное дополнение современного образа модницы</div>
        <div class="instagram__slider-wrap">
            <div class="instagram__slider">
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-00.jpg" alt="">
                </div>
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-01.jpg" alt="">
                </div>
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-02.jpg" alt="">
                </div>
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-03.jpg" alt="">
                </div>
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-04.jpg" alt="">
                </div>
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-05.jpg" alt="">
                </div>
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-06.jpg" alt="">
                </div>
                <div class="instagram__slide">
                    <img src="./images/instagram-slider/instagram-slide-00.jpg" alt="">
                </div>
            </div>
            <div class="instagram__slider-arrows">
                <a class="js-instagram-arrows slider__arrows prev" href="#" data-slider="slickPrev"></a>
                <a class="js-instagram-arrows slider__arrows next" href="#" data-slider="slickNext"></a>
            </div>
        </div>
    </div>
    <div class="mbox footer-wrap">
        <div class="footer">
            <div class="footer__top">
                <div class="footer__phone">
                    <a href="tel:+0800335747">0 800 33 5747</a>
                </div>
                <a href="./index.html" class="footer__logo">
                    <svg>
                        <use xlink:href="#logo-ico"></use>
                    </svg>
                </a>
                <div class="footer__email">
                    <a href="mailto:onikspremium@gmail.com">onikspremium@gmail.com</a>
                </div>
                <div class="footer__hidden">
                    <div class="footer__date">
                        <span>Прием звонков:</span>
                        <span>Пн-Cб (09:00 - 19:00)</span>
                        <span>Вс - выходной</span>
                    </div>
                    <div class="footer__btn">
                        <a href="#" class="btn btn--socials btn--white">
                            <svg>
                                <use xlink:href="#viber-ico"></use>
                            </svg>
                            <span>Viber</span>
                        </a>
                        <a href="#" class="btn btn--socials btn--white">
                            <svg>
                                <use xlink:href="#telegram-ico"></use>
                            </svg>
                            <span>telegram</span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="footer__middle">
                <div class="footer__nav">
                    <a href="#">Серьги</a>
                    <a href="#">Кольца</a>
                    <a href="#">Колье</a>
                    <a href="#">Браслеты</a>
                    <a href="#">Подвески</a>
                    <a href="#">Персонализация</a>
                    <a href="#">контакты</a>
                    <a href="#">О нас</a>
                    <a href="#">Доставка И оплата</a>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__copyright">Copyright © 2019 All rights reserved</div>
            </div>
        </div>
    </div>
</footer>
<div class="hidden-block">
    <form id="popup-request" class="popup">
        <div class="popup__content">
            <div class="popup__title">Заполните заявку</div>
            <div class="popup__subtitle">менеджер свяжеться с вами в течении 5 минут</div>
            <label class="popup__field">
                <input placeholder=" " type="text" name="user-name" required>
                <span>Имя*</span>
            </label>
            <label class="popup__field">
                <input placeholder=" " class="tel-mask" type="text" name="user-phone" required>
                <span>Телефон*</span>
            </label>
            <label class="popup__field">
                <input placeholder=" " type="email" name="user-email">
                <span>E-mail</span>
            </label>
            <div class="popup__btn">
                <button class="btn btn--black btn--card">Отправить</button>
            </div>
        </div>
    </form>
    <form id="popup-success" class="popup">
        <div class="popup__content">
            <div class="popup__icon">
                <svg>
                    <use xlink:href="#popup-ico"></use>
                </svg>
            </div>
            <div class="popup__title">Ваша заявка принята</div>
            <div class="popup__subtitle">менеджер свяжеться с вами в ближайшее время</div>
            <div class="popup__btn--small">
                <a href="#" class="btn">продолжить покупки</a>
            </div>
        </div>
    </form>
</div>