<header>
    <div class="mbox">
        <div class="header">
            <div class="header__top">
                <div class="header__mobmenu">
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <div class="mobmenu">
                        <div class="mobmenu__group">
                            <div class="mobmenu__title">Каталог</div>
                            <a href="#" class="mobmenu__list">Серьги</a>
                            <a href="#" class="mobmenu__list">Кольца</a>
                            <a href="#" class="mobmenu__list">Колье</a>
                            <a href="#" class="mobmenu__list">Браслеты</a>
                            <a href="#" class="mobmenu__list">Подвески</a>
                            <a href="#" class="mobmenu__list">Персонализация</a>
                        </div>
                        <div class="mobmenu__group">
                            <div class="mobmenu__title">Информация</div>
                            <a href="#" class="mobmenu__list">Контакты</a>
                            <a href="#" class="mobmenu__list">О нас</a>
                            <a href="#" class="mobmenu__list">Доставка и Оплата</a>
                        </div>
                        <a href="tel:0 800 750 775" class="mobmenu__phone">0 800 750 775</a>
                        <div class="mobmenu__info">Пн-Cб (09:00 - 19:00)  Вс - выходной</div>
                        <div class="mobmenu__btn">
                            <a href="#" class="btn btn--socials btn--black">
                                <svg>
                                    <use xlink:href="#viber-ico"></use>
                                </svg>
                                <span>Viber</span>
                            </a>
                            <a href="#" class="btn btn--socials btn--black">
                                <svg>
                                    <use xlink:href="#telegram-ico"></use>
                                </svg>
                                <span>telegram</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header__phone">
                    <a href="tel:+0800335747">0 800 33 5747</a>
                </div>
                <a href="./index.html" class="header__logo">
                    <svg>
                        <use xlink:href="#logo-ico"></use>
                    </svg>
                </a>
                <div class="header__search">
                    <div class="header__search-btn">
                        <svg>
                            <use xlink:href="#search-ico"></use>
                        </svg>
                    </div>
                    <div class="search">
                        <div class="search__head">
                            <div class="search__ico">
                                <svg>
                                    <use xlink:href="#search-ico"></use>
                                </svg>
                            </div>
                            <div class="search__input">
                                <input type="text" placeholder="Введите название украшения">
                            </div>
                            <div class="search__close"></div>
                        </div>
                        <div class="search__result">
                            <a href="#" class="search__row">
                                <div class="search__col">
                                    <div class="search__img">
                                        <img src="images/search-img.jpg" alt="">
                                    </div>
                                    <div class="search__title">
                                        <h3>Cерьги Клевер с фианитами</h3>
                                        <span>Артикул:12161AB</span>
                                    </div>
                                </div>
                                <div class="search__col">
                                    <div class="search__price">
                                        <div class="price--through"><span>2620</span>грн.</div>
                                        <div class="price--discount"><span>1820</span>грн.</div>
                                    </div>
                                    <div class="search__arrow"></div>
                                </div>
                            </a>
                            <a href="#" class="search__row">
                                <div class="search__col">
                                    <div class="search__img">
                                        <img src="images/search-img.jpg" alt="">
                                    </div>
                                    <div class="search__title">
                                        <h3>Cерьги Клевер с фианитами</h3>
                                        <span>Артикул:12161AB</span>
                                    </div>
                                </div>
                                <div class="search__col">
                                    <div class="search__price">
                                        <div class="price--through"><span>2620</span>грн.</div>
                                        <div class="price--discount"><span>1820</span>грн.</div>
                                    </div>
                                    <div class="search__arrow"></div>
                                </div>
                            </a>
                            <a href="#" class="search__row">
                                <div class="search__col">
                                    <div class="search__img">
                                        <img src="images/search-img.jpg" alt="">
                                    </div>
                                    <div class="search__title">
                                        <h3>Cерьги Клевер с фианитами</h3>
                                        <span>Артикул:12161AB</span>
                                    </div>
                                </div>
                                <div class="search__col">
                                    <div class="search__price">
                                        <div class="price--through"><span>2620</span>грн.</div>
                                        <div class="price--discount"><span>1820</span>грн.</div>
                                    </div>
                                    <div class="search__arrow"></div>
                                </div>
                            </a>
                            <a href="#" class="search__row">
                                <div class="search__col">
                                    <div class="search__img">
                                        <img src="images/search-img.jpg" alt="">
                                    </div>
                                    <div class="search__title">
                                        <h3>Cерьги Клевер с фианитами</h3>
                                        <span>Артикул:12161AB</span>
                                    </div>
                                </div>
                                <div class="search__col">
                                    <div class="search__price">
                                        <div class="price--through"><span>2620</span>грн.</div>
                                        <div class="price--discount"><span>1820</span>грн.</div>
                                    </div>
                                    <div class="search__arrow"></div>
                                </div>
                            </a>
                        </div>
                        <div class="search__more-wrap">
                            <a href="#" class="search__more">
                                <span>показать все 323</span>
                                <div class="search__arrow"></div>
                            </a>
                        </div>
                    </div>
                    <div class="search__overlay"></div>
                </div>

            </div>
            <div class="header__bottom">
                <nav class="header__nav">
                    <a href="#">Серьги</a>
                    <a href="#">Кольца</a>
                    <a href="#">Колье</a>
                    <a href="#">Браслеты</a>
                    <a href="#">Подвески</a>
                    <a href="#">Персонализация</a>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="mobmenu-overlay"></div>