//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main main--border">
        <div class="mbox">
            <div class="card">
                <div class="card__main">
                    <div class="card__slider-wrap">
                        <div class="card__slider-zoom">
                            <svg>
                                <use xlink:href="#zoom-ico"></use>
                            </svg>
                        </div>
                        <div class="card__navslider-wrap">
                            <div class="card__navslider">
                                <div class="card__navslide" data-slide="slide-1"><img src="./images/search-img.jpg" alt=""></div>
                                <div class="card__navslide" data-slide="slide-2"><img src="./images/search-img.jpg" alt=""></div>
                                <div class="card__navslide" data-slide="slide-3"><img src="./images/search-img.jpg" alt=""></div>
                                <div class="card__navslide" data-slide="slide-4"><img src="./images/search-img.jpg" alt=""></div>
                                <div class="card__navslide" data-slide="slide-5"><img src="./images/search-img.jpg" alt=""></div>
                            </div>
                        </div>
                        <div class="card__inner">
                            <div class="card__slider">
                                <a href="./images/card-slider-01.jpg" data-fancybox="card" class="card__slide" data-slide="slide-1"><img src="./images/card-slider-01.jpg" alt=""></a>
                                <a href="./images/card-slider-01.jpg" data-fancybox="card" class="card__slide" data-slide="slide-2"><img src="./images/card-slider-01.jpg" alt=""></a>
                                <a href="./images/card-slider-01.jpg" data-fancybox="card" class="card__slide" data-slide="slide-3"><img src="./images/card-slider-01.jpg" alt=""></a>
                                <a href="./images/card-slider-01.jpg" data-fancybox="card" class="card__slide" data-slide="slide-4"><img src="./images/card-slider-01.jpg" alt=""></a>
                                <a href="./images/card-slider-01.jpg" data-fancybox="card" class="card__slide" data-slide="slide-5"><img src="./images/card-slider-01.jpg" alt=""></a>
                            </div>
                            <div class="card__slider-arrows">
                                <a class="js-card-arrows slider__arrows prev" href="#" data-slider="slickPrev"></a>
                                <a class="js-card-arrows slider__arrows next" href="#" data-slider="slickNext"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card__aside">
                        <h1 class="card__title">Cерьги Клевер с фианитами</h1>
                        <div class="card__article">Артикул:2145163</div>
                        <div class="card__price">
                            <div class="price price--through"><span>240 000</span>грн.</div>
                            <div class="price price--discount"><span>220 100</span>грн.</div>
                        </div>
                        <div class="card__select">
                            <a href="#" class="card__option selected">Размер: 2.65</a>
                            <a href="#" class="card__option">Размер: 2.85</a>
                            <a href="#" class="card__option">Размер: 2.95</a>
                            <a href="#" class="card__option">Размер: 3.00</a>
                            <a href="#" class="card__option">Размер: 3.55</a>
                            <div class="card__select-arrow"></div>
                        </div>
                        <div class="card__btn">
                            <a href="#popup-request" data-fancybox class="btn btn--black btn--card">
                                <span>Купить в один клик</span>
                                <svg>
                                    <use xlink:href="#cart-ico"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card__about">
                    <div class="card__tabs">
                        <div class="card__tab active">Характеристики</div>
                        <div class="card__tab">Камни вставки</div>
                    </div>
                    <div class="card__content active">
                        <div class="card__row">
                            <div class="card__col">
                                <h3>Серьги с синими сапфирами и бриллиантами</h3>
                                <p><b>Металл:</b><span>белое золото 585"</span></p>
                                <p><b>Средний вес:</b><span>1.87 г</span></p>
                            </div>
                            <div class="card__col">
                                <p>Est Lorem sint excepteur deserunt aliquip et consectetur id ea tempor laboris. Adipisicing quis ipsum fugiat proident cillum proident labore ad ut. Excepteur esse ullamco et laborum labore incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__content">
                        <div class="card__stones">
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                            <div class="card__stone">
                                <div class="card__stone-title">Уваровит (8 шт.)</div>
                                <div class="card__stone-list">
                                    <div class="card__stone-char">А</div>
                                    <div class="card__stone-char">Вес изделия: 7.13 г</div>
                                    <div class="card__stone-char">вес камней - 1.73 ct</div>
                                    <div class="card__stone-char">цвет - 3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__sale">
                    <div class="card__sale-title">Набор из золота “Цветок с фианитами”</div>
                    <div class="card__sale-row">
                        <div class="card__sale-product">
                            <div class="card__sale-img">
                                <img src="./images/main-slider-02.jpg" alt="">
                            </div>
                            <div class="card__sale-info">
                                <a href="#" class="card__sale-name">Cерьги Клевер с фианитами</a>
                                <div class="card__sale-price">
                                    <div class="price price--through"><span>9 599</span>грн.</div>
                                    <div class="price price--discount"><span>7 743</span>грн.</div>
                                </div>
                            </div>
                        </div>
                        <div class="card__sale-plus"></div>
                        <div class="card__sale-product">
                            <div class="card__sale-img">
                                <img src="./images/main-slider-03.jpg" alt="">
                            </div>
                            <div class="card__sale-info">
                                <a href="#" class="card__sale-name">Cерьги Клевер с фианитами</a>
                                <div class="card__sale-price">
                                    <div class="price price--through"><span>31 705</span>грн.</div>
                                    <div class="price price--discount"><span>25 593</span>грн.</div>
                                </div>
                            </div>
                        </div>
                        <div class="card__sale-amount"></div>
                        <div class="card__sale-total">
                            <span>33 336 грн.</span>
                            <div class="btn btn--black btn--card">Купить в один клик</div>
                        </div>
                    </div>
                </div>
                <div class="also-like">
                    <h2 class="title title--small">Вам также может понравиться</h2>
                    <div class="also-like__slider-wrap">
                        <div class="also-like__slider">
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-01.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-02.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-03.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-04.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-05.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                        </div>
                        <div class="also-like__slider-arrows">
                            <a class="js-also-arrows js-arrows slider__arrows prev" href="#" data-slider="slickPrev"></a>
                            <a class="js-also-arrows js-arrows slider__arrows next" href="#" data-slider="slickNext"></a>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <div class="features__item">
                        <div class="features__img">
                            <img src="./images/features-01.svg" alt="">
                        </div>
                        <div class="features__title">Oniks Premium Box</div>
                        <div class="features__info">Все украшения отправляются в качественной брендированной упаковке</div>
                    </div>
                    <div class="features__item">
                        <div class="features__img">
                            <span>25</span>
                        </div>
                        <div class="features__title">Лет на рынке</div>
                        <div class="features__info">Позвольте нам рассказать кому-то особенному, чего вы хотите</div>
                    </div>
                    <div class="features__item">
                        <div class="features__img">
                            <img src="./images/features-02.svg" alt="">
                        </div>
                        <div class="features__title">Бесплатная доставка и возврат</div>
                        <div class="features__info">Покупки, сделанные через Интернет, могут быть возвращены или обменены в течение 30 дней, плюс доставка осуществляется на нас.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-grey">
            <div class="mbox">
                <div class="also-like">
                    <h2 class="title title--small">Недавно просмотренные товары</h2>
                    <div class="also-like__slider-wrap">
                        <div class="also-like__slider">
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-01.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-02.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-03.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-04.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                            <a href="#" class="also-like__slide">
                                <div class="also-like__img">
                                    <img src=" ./images/catalog/slider-05.jpg" alt="">
                                </div>
                                <h3 class="also-like__title">Cерьги Клевер с фианитами</h3>
                                <div class="also-like__price">
                                    <div class="price price--through"><span>240 000</span>грн.</div>
                                    <div class="price price--discount"><span>220 100</span>грн.</div>
                                </div>
                            </a>
                        </div>
                        <div class="also-like__slider-arrows">
                            <a class="js-also-arrows js-arrows slider__arrows prev" href="#" data-slider="slickPrev"></a>
                            <a class="js-also-arrows js-arrows slider__arrows next" href="#" data-slider="slickNext"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>