//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="catalog">
            <div class="banner" style="background-image: url('./images/banner-01.jpg')">
                <div class="banner__info">
                    <h1 class="banner__title">Diamond Jewelry</h1>
                    <div class="banner__desc">All Onix diamonds, regardless of carat weight, are a showcase for expert cuts and astonishing beauty. Our timeless diamond rings, bracelets, necklaces and earrings capture Tiffany’s passion for exceptional stones.</div>
                    <div class="banner__desc banner__desc--mobile">All Onix diamonds, regardless of carat weight, are a showcase for expert cuts and
                    </div>
                </div>
            </div>
            <div class="mbox">
                <div class="filter">
                    <div class="filter__row">
                        <div class="filter__btn">
                            <svg>
                                <use xlink:href="#filter-ico"></use>
                            </svg>
                            <span>Фильтр</span>
                        </div>
                        <div class="filter__sort">
                            <span>Сортировать:</span>
                            <div class="filter__select">
                                <div class="filter__selected">Новое</div>
                                <div class="filter__option">
                                    <a href="#">Новое</a>
                                    <a href="#">От дешевых к дорогим</a>
                                    <a href="#">От дорогих к дешевым</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter__view">
                            <span class="js-grid-view selected"><i></i><i></i><i></i><i></i></span>
                            <span class="js-solo-view"></span>
                        </div>
                    </div>
                    <div class="filter__wrap">
                        <form class="filter__content">
                            <div class="filter__close">Закрыть</div>
                            <div class="filter__group">
                                <div class="filter__title">Цена</div>
                                <div class="catalog__filter-value">
                                    <div class="catalog__filter-range">
                                        <label>
                                            <input type="text" class="catalog__filter-range-dots catalog__filter-range-left" name="price_min">
                                        </label>
                                        <label>
                                            <input type="text" class="catalog__filter-range-dots catalog__filter-range-right" name="price_max">
                                        </label>
                                        <div class="catalog__filter-range-line"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="filter__group filter__group--border">
                                <div class="filter__collapse collapsed">
                                    <div class="filter__title filter__title--collapse">Метал</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter__collapse">
                                    <div class="filter__title filter__title--collapse">Вставка</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter__collapse">
                                    <div class="filter__title filter__title--collapse">Цвет вставки</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter__collapse">
                                    <div class="filter__title filter__title--collapse">Тип застежки</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter__collapse">
                                    <div class="filter__title filter__title--collapse">Покрытие</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter__collapse">
                                    <div class="filter__title filter__title--collapse">Материал</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter__collapse">
                                    <div class="filter__title filter__title--collapse">Есть комплект</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter__collapse">
                                    <div class="filter__title filter__title--collapse">Тематика</div>
                                    <div class="filter__checkbox-wrap">
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё золото</b>
                                            <span>(697)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Всё серебро</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 585”</b>
                                            <span>(407)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 585”</b>
                                            <span>(85)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 585”</b>
                                            <span>(217)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Розовое золото 585”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Серебро 925”</b>
                                            <span>(372)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Красное золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Желтое золото 750”</b>
                                            <span>(1)</span>
                                        </label>
                                        <label class="filter__checkbox">
                                            <input type="checkbox">
                                            <b>Белое золото 750”</b>
                                            <span>(23)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__btn">
                                <a href="" class="btn btn--filter">Применить</a>
                            </div>
                            <div class="filter__btn-reset">
                                <a href="#" class="btn filter__reset">Сбросить все фильтры</a>
                            </div>
                        </form>
                    </div>
                    <script>
                        var filterMin = 400,
                            filterMax = 753310,
                            valueMin = 440,
                            valueMax = 753310;
                    </script>
                </div>
                <div class="catalog__items grid">
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-02.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__slider-wrap">
                            <div class="item__slider">
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-01.jpg" alt=""></div>
                                <div class="item__slide"><img src="./images/catalog/slider-03.jpg" alt=""></div>
                            </div>
                        </div>
                        <a href="#" class="item__title">Cерьги Клевер с фианитами</a>
                        <div class="item__price">
                            <div class="price price--through"><span>2620</span>грн.</div>
                            <div class="price price--discount"><span>1820</span>грн.</div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <a href="#" class="pagination__arrow pagination__arrow--prev">
                        <svg>
                            <use xlink:href="#arrow-prev-ico"></use>
                        </svg>
                    </a>
                    <a href="#" class="pagination__item">1</a>
                    <a href="#" class="pagination__item current">2</a>
                    <a href="#" class="pagination__item">3</a>
                    <a href="#" class="pagination__item">4</a>
                    <a href="#" class="pagination__item">5</a>
                    <a href="#" class="pagination__item">...</a>
                    <a href="#" class="pagination__item">28</a>
                    <a href="#" class="pagination__arrow pagination__arrow--next">
                        <svg>
                            <use xlink:href="#arrow-next-ico"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="ceo-text">
            <div class="ceo-text__title">Интернет-магазин ювелирных изделий</div>
            <div class="ceo-text__line">
                <svg>
                    <use xlink:href="#decor-ico"></use>
                </svg>
            </div>
            <div class="ceo-text__info">Что может быть прекрасней и изящней ювелирных изделий, в которых великолепным образом сочетается лунный благородный холод металлов с сверканием россыпей драгоценных камней? Ведь каждое украшение из золота или серебра не только является произведением искусства, оно еще и тот предмет, который непревзойденно и нежно подчеркивает красоту своего обладателя, его черты характера, социальный статус в обществе, а также и финансовое благополучие.
                Что может быть прекрасней и изящней ювелирных изделий, в которых великолепным образом сочетается лунный благородный холод металлов с сверканием россыпей драгоценных камней? Ведь каждое украшение из золота или серебра не только является произведением искусства, оно еще и тот предмет, который непревзойденно и нежно подчеркивает красоту своего обладателя, его черты характера, социальный статус в обществе, а также и финансовое благополучие.</div>
            <div class="ceo-text__btn"><span>развернуть</span></div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>