//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main main--border">
        <div class="mbox">
            <h1 class="title title--left">Контакты</h1>
            <div class="contacts">
                <div class="contacts__row">
                    <div class="contacts__col">
                        <div id="map-1" class="contacts__map"></div>
                        <div class="contacts__address-wrap">
                            <div class="contacts__address">
                                <div class="contacts__city">г. Киев</div>
                                <div class="contacts__title">Отдел «Оникс» в ТРЦ «Украина»</div>
                                <div class="contacts__address-row">
                                    <div class="contacts__address-col">
                                        <a href="#map-1" class="contacts__street js-kiev" data-lat="50.446449" data-lng="30.491951">
                                            <svg>
                                                <use xlink:href="#marker-ico"></use>
                                            </svg>
                                            <span>ул. Победы, 3</span>
                                        </a>
                                        <div class="contacts__mail">Хмельницкий <br> Хмельницкая область <br>29000</div>
                                        <a href="tel:0800750775" class="contacts__phone">0 800 750 775</a>
                                    </div>
                                    <div class="contacts__address-col">
                                        <div class="contacts__group">
                                            <div class="contacts__day">ПН—ПТ:</div>
                                            <div class="contacts__time">с 10:00 до 21:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">СБ—ВС:</div>
                                            <div class="contacts__time">с 10:00 до 21:00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__col">
                        <div id="map-2" class="contacts__map"></div>
                        <div class="contacts__address-wrap">
                            <div class="contacts__address">
                                <div class="contacts__city">г. Хмельницкий</div>
                                <div class="contacts__title">Магазин «Оникс» - Центральный магазин</div>
                                <div class="contacts__address-row">
                                    <div class="contacts__address-col">
                                        <a href="#map-2" class="contacts__street js-khm" data-lat="49.426983" data-lng="26.982605">
                                            <svg>
                                                <use xlink:href="#marker-ico"></use>
                                            </svg>
                                            <span>ул. Подольская, 41</span>
                                        </a>
                                        <div class="contacts__mail">Хмельницкий <br>Хмельницкая область <br> 29000
                                        </div>
                                        <a href="tel:0800750775" class="contacts__phone">0 800 750 775</a>
                                    </div>
                                    <div class="contacts__address-col">
                                        <div class="contacts__group">
                                            <div class="contacts__day">ПН—ПТ:</div>
                                            <div class="contacts__time">с 10:00 до 21:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">СБ:</div>
                                            <div class="contacts__time">с 10:00 до 18:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">ВС:</div>
                                            <div class="contacts__time">с 10:00 до 17:00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts__address">
                                <div class="contacts__city">г. Хмельницкий</div>
                                <div class="contacts__title">Магазин «Оникс» - Центральный магазин</div>
                                <div class="contacts__address-row">
                                    <div class="contacts__address-col">
                                        <a href="#map-2" class="contacts__street js-khm" data-lat="49.438189" data-lng="27.005774">
                                            <svg>
                                                <use xlink:href="#marker-ico"></use>
                                            </svg>
                                            <span>пр. Мира, 69</span>
                                        </a>
                                        <div class="contacts__mail">Хмельницкий <br>Хмельницкая область <br> 29000
                                        </div>
                                        <a href="tel:0800750775" class="contacts__phone">0 800 750 775</a>
                                    </div>
                                    <div class="contacts__address-col">
                                        <div class="contacts__group">
                                            <div class="contacts__day">ПН—ПТ:</div>
                                            <div class="contacts__time">с 10:00 до 21:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">СБ:</div>
                                            <div class="contacts__time">с 10:00 до 18:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">ВС:</div>
                                            <div class="contacts__time">с 10:00 до 17:00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts__address">
                                <div class="contacts__city">г. Хмельницкий</div>
                                <div class="contacts__title">Магазин «Оникс» - Центральный магазин</div>
                                <div class="contacts__address-row">
                                    <div class="contacts__address-col">
                                        <a href="#map-2" class="contacts__street js-khm" data-lat="49.423081" data-lng="27.003869">
                                            <svg>
                                                <use xlink:href="#marker-ico"></use>
                                            </svg>
                                            <span>Отдел «Оникс» в ТЦ "Агора"</span>
                                        </a>
                                        <div class="contacts__mail">Хмельницкий <br>Хмельницкая область <br> 29000
                                        </div>
                                        <a href="tel:0800750775" class="contacts__phone">0 800 750 775</a>
                                    </div>
                                    <div class="contacts__address-col">
                                        <div class="contacts__group">
                                            <div class="contacts__day">ПН—ПТ:</div>
                                            <div class="contacts__time">с 10:00 до 21:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">СБ:</div>
                                            <div class="contacts__time">с 10:00 до 18:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">ВС:</div>
                                            <div class="contacts__time">с 10:00 до 17:00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts__address">
                                <div class="contacts__city">г. Хмельницкий</div>
                                <div class="contacts__title">Магазин «Оникс» - Центральный магазин</div>
                                <div class="contacts__address-row">
                                    <div class="contacts__address-col">
                                        <a href="#map-2" class="contacts__street js-khm" data-lat="49.430005" data-lng="26.985174">
                                            <svg>
                                                <use xlink:href="#marker-ico"></use>
                                            </svg>
                                            <span>Отдел «Оникс» в ТЦ «Мега»</span>
                                        </a>
                                        <div class="contacts__mail">Хмельницкий <br>Хмельницкая область <br> 29000
                                        </div>
                                        <a href="tel:0800750775" class="contacts__phone">0 800 750 775</a>
                                    </div>
                                    <div class="contacts__address-col">
                                        <div class="contacts__group">
                                            <div class="contacts__day">ПН—ПТ:</div>
                                            <div class="contacts__time">с 10:00 до 21:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">СБ:</div>
                                            <div class="contacts__time">с 10:00 до 18:00</div>
                                        </div>
                                        <div class="contacts__group">
                                            <div class="contacts__day">ВС:</div>
                                            <div class="contacts__time">с 10:00 до 17:00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="partnership">
                    <div class="partnership__row">
                        <div class="partnership__col">
                            <div class="partnership__title">Предложения по сотрудничеству, партнерство, опт:</div>
                            <div class="partnership__phones">
                                <div class="partnership__phone">
                                    <a href="mailto:reyteld13@gmail.com">
                                        <svg width="32" height="24">
                                            <use xlink:href="#mail-ico"></use>
                                        </svg>
                                        <span>reyteld13@gmail.com</span>
                                    </a>
                                </div>
                                <div class="partnership__phone">
                                    <a href="#">
                                        <svg width="30" height="30">
                                            <use xlink:href="#phone-ico"></use>
                                        </svg>
                                        <span>0975833597</span>
                                    </a>
                                    <span>Денис</span>
                                </div>
                            </div>
                        </div>
                        <div class="partnership__col">
                            <div class="partnership__btn">
                                <a href="#" class="btn btn--socials btn--black">
                                    <svg>
                                        <use xlink:href="#viber-ico"></use>
                                    </svg>
                                    <span>Viber</span>
                                </a>
                                <a href="#" class="btn btn--socials btn--black">
                                    <svg>
                                        <use xlink:href="#telegram-ico"></use>
                                    </svg>
                                    <span>telegram</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer-instagram.html
    //= parts/footer-links.html
    <script>

        function initMap()
        {
            var locations = [
                ['Магазин «Оникс» - Центральный магазин', 49.426983,26.982605],                            ['Отдел «Оникс» в ТЦ &quot;Агора&quot;', 49.423081,27.003869],                            ['Отдел «Оникс» в ТЦ «Рико»', 49.438189,27.005774],                            ['Отдел «Оникс» в ТЦ «Мега»', 49.430005,26.985174]                    ];
            var mapProp = {
                center:new google.maps.LatLng(49.4295645, 26.9943555),
                zoom:13,
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true
            };

            var map=new google.maps.Map(document.getElementById("map-2"),mapProp);
            var marker, i, infowindow;

            for (i = 0; i < locations.length; i++) {
                infowindow = new google.maps.InfoWindow({
                    content: locations[i][0]
                });
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    title: locations[i][0]
                });
                var content = locations[i][0];
                google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                    return function() {
                        infowindow.setContent(content);
                        infowindow.open(map,marker);
                    };
                })(marker,content,infowindow));
            }
            var location = [
                ['Отдел «Оникс» в ТРЦ «Украина»', 50.446449,30.491951]                   ];
            var mapProp2 = {
                center:new google.maps.LatLng(50.446449, 30.491951),
                zoom:13,
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true
            };

            var map2=new google.maps.Map(document.getElementById("map-1"),mapProp2);
            var marker2, i2, infowindow2;

            for (i2 = 0; i2 < location.length; i2++) {
                infowindow2 = new google.maps.InfoWindow({
                    content: location[i2][0]
                });
                marker2 = new google.maps.Marker({
                    position: new google.maps.LatLng(location[i2][1], location[i2][2]),
                    map: map2,
                    title: location[i2][0]
                });
                var content2 = location[i2][0];
                google.maps.event.addListener(marker2,'click', (function(marker2,content2,infowindow2){
                    return function() {
                        infowindow2.setContent(content2);
                        infowindow2.open(map2,marker2);
                    };
                })(marker2,content2,infowindow2));
            }
            $('.js-kiev').on('click', function (e) {
                e.preventDefault();
                var lat = $(this).data(lat),
                    lng = $(this).data(lng);
                map2.setCenter(new google.maps.LatLng(lat,lng));
                map2.setZoom(16);

                var href = $(this).attr('href');
                var target = $(href).offset().top-30;
                $('html, body').animate({scrollTop:target},500);
            });
            $('.js-khm').on('click', function (e) {
                e.preventDefault();
                var lat = $(this).data(lat),
                    lng = $(this).data(lng);
                map.setCenter(new google.maps.LatLng(lat,lng));
                map.setZoom(16);

                var href = $(this).attr('href');
                var target = $(href).offset().top-30;
                $('html, body').animate({scrollTop:target},500);
            })
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeDhfZS_VanSXTcIw8eARmpM3I1pdg240&callback=initMap">
    </script>
</div>
</body>
</html>