//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner banner--delivery" style="background-image: url('./images/banner-02.jpg');">
            <div class="banner__info">
                <h1 class="banner__title">Доставка</h1>
                <div class="banner__desc">All Onix diamonds, regardless of carat weight, are a showcase for expert cuts and astonishing beauty. Our timeless diamond rings, bracelets, necklaces and earrings capture Tiffany’s passion for exceptional stones.</div>
                <div class="banner__desc banner__desc--mobile">All Onix diamonds, regardless of carat weight, are a showcase for expert cuts and
                </div>
            </div>
        </div>
        <div class="mbox">
            <div class="features">
                <div class="features__item">
                    <div class="features__img">
                        <img src="./images/features-01.svg" alt="">
                    </div>
                    <div class="features__title">Oniks Premium Box</div>
                    <div class="features__info">Все украшения отправляются в качественной брендированной упаковке</div>
                </div>
                <div class="features__item">
                    <div class="features__img">
                        <span>25</span>
                    </div>
                    <div class="features__title">Лет на рынке</div>
                    <div class="features__info">Позвольте нам рассказать кому-то особенному, чего вы хотите</div>
                </div>
                <div class="features__item">
                    <div class="features__img">
                        <img src="./images/features-02.svg" alt="">
                    </div>
                    <div class="features__title">Бесплатная доставка и возврат</div>
                    <div class="features__info">Покупки, сделанные через Интернет, могут быть возвращены или обменены в течение 30 дней, плюс доставка осуществляется на нас.</div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer-instagram.html
    //= parts/footer-links.html
</div>
</body>
</html>