//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="container">
            <div class="main__banner-wrap">
                <div class="main__banner">
                    <a href="#" class="main__banner-slide">
                        <img class="main__banner-img" src="./images/main-banner-01.jpg" alt="">
                        <img class="main__banner-img main__banner-img--mobile" src="./images/main-banner-mobile-01.jpg" alt="">
                    </a>
                    <a href="#" class="main__banner-slide">
                        <img class="main__banner-img" src="./images/main-banner-01.jpg" alt="">
                        <img class="main__banner-img main__banner-img--mobile" src="./images/main-banner-mobile-01.jpg" alt="">
                    </a>
                    <a href="#" class="main__banner-slide">
                        <img class="main__banner-img" src="./images/main-banner-01.jpg" alt="">
                        <img class="main__banner-img main__banner-img--mobile" src="./images/main-banner-mobile-01.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="main__double">
                <a href="#" class="main__item">
                    <img src="./images/main-double-01.jpg" alt="">
                    <h2>Серьги</h2>
                </a>
                <a href="#" class="main__item">
                    <img src="./images/main-double-02.jpg" alt="">
                    <h2>Колье</h2>
                </a>
            </div>
            <div class="main__quadro">
                <a href="#" class="main__item">
                    <img src="./images/main-quadro-01.jpg" alt="">
                    <h2>Серьги</h2>
                </a>
                <a href="#" class="main__item">
                    <img src="./images/main-quadro-02.jpg" alt="">
                    <h2>Кольца</h2>
                </a>
                <a href="#" class="main__item">
                    <img src="./images/main-quadro-03.jpg" alt="">
                    <h2>Мужчинам</h2>
                </a>
                <a href="#" class="main__item">
                    <img src="./images/main-quadro-04.jpg" alt="">
                    <h2>Подарки</h2>
                </a>
            </div>
            <div class="main__banner-wrap">
                <div class="main__banner-slide">
                    <img class="main__banner-img" src="./images/main-banner-02.jpg" alt="">
                    <img class="main__banner-img main__banner-img--mobile" src="./images/main-banner-mobile-02.jpg" alt="">
                    <div class="main__banner-content">
                        <span class="main__banner-company">Oniks Premium</span>
                        <h3 class="main__banner-title">Kомпания, которая умеет завораживать украшениями</h3>
                        <div class="main__banner-btn">
                            <a href="#">Подробней</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="title">Новинки этого месяца</h2>
            <div class="main__slider-wrap">
                <div class="main__slider">
                    <div class="main__slide-wrap">
                        <a href="#" class="main__slide">
                            <div class="main__slide-img">
                                <img src="./images/main-slider-01.jpg" alt="">
                            </div>
                            <span class="main__slide-desc">Cерьги Клевер с фианитами
</span>
                            <div class="main__slide-price">
                                <div class="price--through"><span>2620</span>грн.</div>
                                <div class="price--discount"><span>1820</span>грн.</div>
                            </div>
                        </a>
                    </div>
                    <div class="main__slide-wrap">
                        <a href="#" class="main__slide">
                            <div class="main__slide-img">
                                <img src="./images/main-slider-02.jpg" alt="">
                            </div>
                            <span class="main__slide-desc">Cерьги Клевер с фианитами
</span>
                            <div class="main__slide-price">
                                <div class="price--through"><span>2620</span>грн.</div>
                                <div class="price--discount"><span>1820</span>грн.</div>
                            </div>
                        </a>
                    </div>
                    <div class="main__slide-wrap">
                        <a href="#" class="main__slide">
                            <div class="main__slide-img">
                                <img src="./images/main-slider-03.jpg" alt="">
                            </div>
                            <span class="main__slide-desc">Cерьги Клевер с фианитами
</span>
                            <div class="main__slide-price">
                                <div class="price--through"><span>2620</span>грн.</div>
                                <div class="price--discount"><span>1820</span>грн.</div>
                            </div>
                        </a>
                    </div>
                    <div class="main__slide-wrap">
                        <a href="#" class="main__slide">
                            <div class="main__slide-img">
                                <img src="./images/main-slider-01.jpg" alt="">
                            </div>
                            <span class="main__slide-desc">Cерьги Клевер с фианитами
</span>
                            <div class="main__slide-price">
                                <div class="price--through"><span>2620</span>грн.</div>
                                <div class="price--discount"><span>1820</span>грн.</div>
                            </div>
                        </a>
                    </div>
                    <div class="main__slide-wrap">
                        <a href="#" class="main__slide">
                            <div class="main__slide-img">
                                <img src="./images/main-slider-02.jpg" alt="">
                            </div>
                            <span class="main__slide-desc">Cерьги Клевер с фианитами
</span>
                            <div class="main__slide-price">
                                <div class="price--through"><span>2620</span>грн.</div>
                                <div class="price--discount"><span>1820</span>грн.</div>
                            </div>
                        </a>
                    </div>
                    <div class="main__slide-wrap">
                        <a href="#" class="main__slide">
                            <div class="main__slide-img">
                                <img src="./images/main-slider-03.jpg" alt="">
                            </div>
                            <span class="main__slide-desc">Cерьги Клевер с фианитами
</span>
                            <div class="main__slide-price">
                                <div class="price--through"><span>2620</span>грн.</div>
                                <div class="price--discount"><span>1820</span>грн.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ceo-text">
                <div class="ceo-text__title">Интернет-магазин ювелирных изделий</div>
                <div class="ceo-text__line">
                    <svg>
                        <use xlink:href="#decor-ico"></use>
                    </svg>
                </div>
                <div class="ceo-text__info">Что может быть прекрасней и изящней ювелирных изделий, в которых великолепным образом сочетается лунный благородный холод металлов с сверканием россыпей драгоценных камней? Ведь каждое украшение из золота или серебра не только является произведением искусства, оно еще и тот предмет, который непревзойденно и нежно подчеркивает красоту своего обладателя, его черты характера, социальный статус в обществе, а также и финансовое благополучие.
                    Что может быть прекрасней и изящней ювелирных изделий, в которых великолепным образом сочетается лунный благородный холод металлов с сверканием россыпей драгоценных камней? Ведь каждое украшение из золота или серебра не только является произведением искусства, оно еще и тот предмет, который непревзойденно и нежно подчеркивает красоту своего обладателя, его черты характера, социальный статус в обществе, а также и финансовое благополучие.</div>
                <div class="ceo-text__btn"><span>развернуть</span></div>
            </div>
        </div>
    </div>
    //= parts/footer-instagram.html
    //= parts/footer-links.html
</div>
</body>
</html>