/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family:'AvenirNextCyr',sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1.25; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1440px;width:100%;margin:0 auto;position:relative;z-index:1;padding: 0 50px}
.global-wrapper{display: flex; flex-direction: column; height: 100%;}
footer {flex-grow: 0;  flex-shrink: 0;  flex-basis: auto;background: linear-gradient(0deg, #F4F6FA 37.25%, rgba(244, 246, 250, 0) 88.83%);padding-top: 145px;}
.main{flex-grow: 1; flex-shrink: 0; flex-basis: auto;overflow: hidden;}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
header {position: relative;z-index: 11;background-color: #fff;}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face('AvenirNextCyr', 'AvenirNextCyr-Bold', 700);
@include font-face('AvenirNextCyr', 'AvenirNextCyr-Demi', 600);
@include font-face('AvenirNextCyr', 'AvenirNextCyr-Medium', 500);
@include font-face('AvenirNextCyr', 'AvenirNextCyr-Regular', 400);
@include font-face('AvenirNextCyr', 'AvenirNextCyr-Thin', 300);
@include font-face('AvenirNextCyr', 'AvenirNextCyr-Light', 200);
.btn {cursor: pointer;text-decoration: none;text-align: center;
    &--socials {position: relative;display: block;text-transform: uppercase;font-size: 1rem;font-weight: 500;line-height: 19px;letter-spacing: .1em;padding: 18px;border: 1px solid #000;max-width: 320px;margin-left: auto; margin-right: auto;width: 100%;
        svg {width: 28px;height: 22px;position: absolute;top: 50%;left: 32px;transform: translateY(-50%)}
        &.btn--black {transition: background-color .3s, color .3s, border-color .3s;
            &:hover {background-color: #fff;border-color: #000;color: #000;
                svg {fill: #000;}
            }
        }
    }
    &--black {background-color: #000;color: #fff;
        svg {fill: #fff;}
    }
    &--white {border-color: rgba(0, 0, 0, .2);color: #000;max-width: 302px;
        svg {fill: #000;}
    }
    &--filter {color: #000;font-size: .75rem;line-height: 1;font-weight: 400;border: 1px solid #CDBB9F;max-width: 245px;margin: 0 auto;display: block;padding: 13px;width: 100%;transition: background-color .3s, color .3s;
        &:hover {color: #fff;background-color: #CDBB9F;}
    }
    &--card {display: flex;justify-content: center;align-items: center;font-size: 1rem;line-height: 2;padding: 6px 15px;transition: opacity .3s;white-space: nowrap;
        svg {width: 16px;height: 16px;margin-left: 15px;}
        &:hover {opacity: .5;}
    }
}
.header {color: #353535;padding: 64px 0 25px;max-width: 1107px;margin: 0 auto;
    &__mobmenu {display: none;}
    &__top {display: flex;justify-content: space-between;align-items: center;position: relative;}
    &__phone {flex-basis: 20%;
        a {font-size: 1rem;line-height: 2;letter-spacing: 1px;color: #353535;text-decoration: none;transition: opacity .3s;
        &:hover {opacity: .5;}
        }
    }
    &__logo {width: 122px;height: 50px;
        svg {width: 100%;height: 100%;}
    }
    &__search {flex-basis: 20%;display: flex;align-items: center;justify-content: flex-end;
        svg {width: 20px;height: 20px;}
        &-btn {cursor: pointer;transition: opacity .3s;
            &:hover {opacity: .5;}
        }
    }
    &__nav {display: flex;justify-content: center;align-items: center;margin: 37px 0;
        a {font-size: 1rem;line-height: 1.5;letter-spacing: .2px;color: #353535;margin: 0 calc(85px / 2);text-decoration: none;position: relative;transition: opacity .3s;
            &:before {position: absolute;content: '';width: 7px;height: 1px;background-color: #313F35;opacity: 0;left: 50%;transform: translateX(-50%);bottom: -4px;transition: opacity .3s;}
            &:hover:before {opacity: .5;}
            &:hover {opacity: .5;}
        }
    }
}
.search {position: absolute;max-width: 1136px;width: calc(100% + 30px);left:100%;top: -22px;transform: translateX(0) scaleX(0);background-color: #fff;color: #000;z-index: 11;
    &.opened {transform: translateX(-50%) scale(1);left: 50%;right: auto;}
    &__head {display: flex;align-items: center;padding: 30px;}
    &__ico {width: 24px;height: 24px;margin: 0 24px 0 18px;min-width: 24px;
        svg {width: 100%;height: 100%;}
    }
    &__input {width: 100%;
        input {border: none;font-size: 1rem;line-height: 2;letter-spacing: .2px;margin: 0;padding: 0;display: block;width: 100%;}
    }
    &__close {width: 36px;height: 36px;position: relative;min-width: 36px;cursor: pointer;transition: opacity .3s;
        &:before {content:'';position: absolute;width: 14px;height: 2px;background-color: #000;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(-45deg);border-radius: 5px;}
        &:after {content:'';position: absolute;width: 14px;height: 2px;background-color: #000;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(45deg);border-radius: 5px;}
        &:hover {opacity: .5;}
    }
    &__result {border-top: 1px solid #C4C4C4;}
    &__row {display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #C4C4C4;color: #000;text-decoration: none;padding: 31px 5px 33px 8px;margin: 0 40px;}
    &__col {display: flex;align-items: center;}
    &__img {width: 80px;height: 80px;
        img {display: block;width: 100%;height: 100%;}
    }
    &__title {display: flex;flex-direction: column;margin-left: 25px;
        h3 {font-weight: 400;font-size: 1rem;line-height: 2;letter-spacing: .9px;margin: 0;}
        span {font-size: 1rem;line-height: 2;opacity: .5;}
    }
    &__price {display: flex;margin: 0 22px;
        .price--discount {margin-left: 35px;}
    }
    &__arrow {position: relative;width: 20px;height: 20px;
        &:before {content:'';position: absolute;width: 12px;height: 12px;border-bottom: 1px solid #000;border-right: 1px solid #000;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(-45deg);}
    }
    &__more {display: inline-flex;justify-content: center;color: #BF8F6C;letter-spacing: .5px;text-decoration: none;font-size: 1rem;line-height: 2;align-items: center;padding: 25px 0;
        &-wrap {display: flex;justify-content: center;}
        .search__arrow {
            &:before {border-color: #BF8F6C;}
        }
        &:hover {opacity: .5;}
    }
    &__overlay {display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(125, 125, 125, 0.72);z-index: 10;}
}
.price {white-space: nowrap;
    &--through {color: #8f8f8f;letter-spacing: .5px;font-size: 1rem;line-height: 2;position: relative;margin: 0 10px;
        span {margin-right: 10px;}
        &:before {content: '';position: absolute;left: -7px;right: -7px;top: 52%;height: 1px;background-color: #BF8F6C;}
    }
    &--discount {color: #1F1F1F;letter-spacing: .5px;font-size: 1rem;line-height: 2;
        span {margin-right: 10px;}
    }
}
.mobmenu {display: none;}
.footer {padding: 56px 0 18px;
    &-wrap {border-top: 1px solid #eaebef;}
    &__top {display: flex;justify-content: space-between;margin-bottom: 48px;}
    &__phone {flex-basis: 20%;display: flex;justify-content: flex-start;align-items: center;
        a {font-size: 1rem;line-height: 2;letter-spacing: 1px;color: #353535;text-decoration: none;transition: opacity .3s;
            &:hover {opacity: .5;}
        }
    }
    &__logo {width: 77px;height: 32px;
        svg {width: 100%;height: 100%;}
    }
    &__email {flex-basis: 20%;display: flex;justify-content: flex-end;align-items: center;
        a {color: #353535;font-size: .875rem;line-height: 1.72;text-decoration: none;transition: opacity .3s;
            &:hover {opacity: .5;}
        }
    }
    &__nav {display: flex;justify-content: space-between;margin: 0 auto;max-width: 1012px;
        a {font-size: .625rem;line-height: 2.4;letter-spacing: 1px;color: #353535;text-decoration: none;text-transform: uppercase;margin: 0 20px 0 0;transition: opacity .3s;
            &:hover {opacity: .5;}
            &:last-child {margin-right: 0;}
        }
    }
    &__bottom {margin-top: 65px;}
    &__copyright {font-size: .687rem;letter-spacing: .2px;font-weight: 300;line-height: 1.45;color: #353535;opacity: .5;text-align: center;}
    &__hidden {display: none;}
}
.instagram {max-width: 1440px;margin: 0 auto;
    &__title {font-weight: 300;font-size: 1.25rem;line-height: 1.6;text-align: center;color: #353535;margin-bottom: 12px;
        a {color: #595999;text-decoration: none;transition: opacity .3s;
            &:hover {opacity: .5;}
        }
    }
    &__subtitle {max-width: 445px;margin: 0 auto;font-weight: 300;font-size: 1rem;line-height: 1.5;color: #3e3764;opacity: .5;margin-bottom: 53px;text-align: center;}
    &__slider {padding: 0 73px;margin-bottom: 130px;
        &-wrap {position: relative;
            &:before {content: '';position: absolute;left: 0;top: 0;bottom: 0;width:calc(25% - 32px);background: linear-gradient(91.02deg, #F4F6FA 26.5%, rgba(244, 246, 250, 0) 80.25%);z-index: 1;}
            &:after {content: '';position: absolute;right: 0;top: 0;bottom: 0;width: calc(20% + 7px);background: linear-gradient(272.39deg, #F4F6FA 26.63%, rgba(244, 246, 250, 0) 84.11%);z-index: 1;}
        }
    }
    &__slider {
        img {margin-right: 1px;max-width: 184px;object-fit: cover;width: 100%;}
        &-arrows {display: flex;position: absolute;width: 100%;max-width:325px;left: 50%;transform: translateX(-50%); bottom: -74px;justify-content: space-between;}
    }
}
.slider {
    &__arrows {width: 20px;height: 20px;position: relative;display: inline-block;
        &:before {content: '';width: 12px;height: 12px;border-bottom: 1px solid #000;border-right: 1px solid #000;left: 50%;top: 50%;transform: translate(-50%, -50%) rotate(-45deg);display: inline-block;position: absolute;z-index: 1;}
        &.prev {
            &:before {transform: translate(-50%, -50%) rotate(135deg);}
        }
    }
}
.slick-dots {left: 50%;bottom: -95px;transform: translateX(-50%);display: flex;justify-content: center;align-items: center;z-index: 2;width: 200px;
    li {width: 2px;height: 6px;background-color: #c4c4c4;margin: 0 8px;}
    .slick-active {width: 1px;height: 30px;background-color: #000;margin: 0 8px 0 9px;}
    button {opacity: 0;}
}
.container {max-width: 1920px;margin: 0 auto;padding: 0 36px;}
.main {
    &__banner {margin-bottom: 0;
        &-wrap {margin-bottom: 24px;}
        &-img {width: 100%;
            &--mobile {display: none!important;}
        }
        &-slide {position: relative;}
        &-content {position: absolute;top: 50%;transform: translateY(-50%);left: 155px;}
        &-company {line-height: 1;font-size: 1.5rem;color: #fff;opacity: .8;}
        &-title {font-size: 3rem;line-height: 1;letter-spacing: .2px;color: #fff;font-family: 'PT Serif', serif;font-weight: 400;max-width: 504px;margin: 21px 0 49px;}
        &-btn {
            a {padding: 14px 38px;font-size: 1rem;font-weight: 600;line-height: 1.5;text-align: center;text-transform: lowercase;background: rgba(255, 255, 255, 0.3);color: #fff;text-decoration: none;display: inline-block;}
        }
    }
    &__double {display: flex;margin: 0 -12px;flex-wrap: wrap;
        .main__item {width: calc(100% / 2 - 24px);}
    }
    &__quadro {display: flex;margin: 0 -12px;flex-wrap: wrap;
        .main__item {width: calc(100% / 4 - 24px);}
    }
    &__item {position: relative;color: #fff;text-decoration: none;margin: 0 12px 24px;
        h2 {font-size: 3rem;letter-spacing: .2px;position: absolute;left: 40px;bottom: 37px;margin: 0;font-weight: 300;}
        img {width: 100%;}
    }
    &__slider {
        &-wrap {margin: 0 -36px;height: 700px;margin-bottom: 30px;position: relative;
            &:before {content: '';position: absolute;background: linear-gradient(268.37deg, #FFFFFF 4.58%, #FFFFFF 4.59%, rgba(255, 255, 255, 0) 107.35%);right: calc(100% - 216px);top: 0;bottom: 0;display: inline-block;width: 216px;z-index: 1;transform: scale(-1);}
            &:after {content: '';position: absolute;background: linear-gradient(268.37deg, #FFFFFF 4.58%, #FFFFFF 4.59%, rgba(255, 255, 255, 0) 107.35%);left: calc(100% - 216px);top: 0;bottom: 0;display: inline-block;width: 216px;z-index: 1;}
        }
        .slick-arrow {display: inline-block;width: 120px;position: absolute;top: 0;bottom: 0;line-height: initial;font-size: initial;transform: none;right: 0;z-index: 2;
            &:before {width: 20px;height: 20px;border-bottom: 1px solid #000;border-right: 1px solid #000;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(-45deg);display: inline-block;position: absolute;z-index: 1;font-size: 0;content: '';opacity: 1;}
        }
        .slick-prev {left: -10px;
            &:before {transform: rotate(135deg);}
        }
        .slick-next {
            &:before {top: calc(50% + 10px);}
        }
        .slick-list {padding: 0!important;margin: 0 -380px;}
        .slick-track {display: flex !important;}

    }
    &__slide {height: 100%;width: 100%;padding: 75px;transition: padding .3s;text-decoration: none;
        &-img {margin-bottom: 30px;
            //transform: scale(.71641);
            img {display: block;width: 100%;}
        }
        &-wrap {display: flex !important;justify-content: center;align-items: center;
            &.slick-center {
                .main {
                    &__slide {padding: 0;
                        &-img {}
                        &-desc {text-align: center;margin-bottom: 11px;}
                        &-price {justify-content: center;}
                    }
                }
            }
        }
        &-desc {font-size: 1.5rem;line-height: 1.33;color: #1f1f1f;display: block;margin-bottom: 4px;}
        &-price {display: flex;align-items: center;justify-content: flex-start;
            .price--through {margin: 0;margin-right: 15px;}
        }

    }
    &--border {border-top: 1px solid #E7E7E7;}
}
.title {font-size: 3rem;letter-spacing: .2px;font-family: 'PT Serif', serif;font-weight: 400;text-align: center;color: #000;margin: 110px 0;position: relative;
    &:before {content: '';position: absolute;width: 24px;height: 1px;background: #CAB362;display: inline-block;left: 50%;bottom: -20px;transform: translateX(-50%);}
    &--small {font-size: 2rem;margin: 80px 0;
        &:before {bottom: -32px;}
    }
    &--left {font-size: 2rem;text-align: left;margin: 66px 0;
        &:before {display: none;}
    }
}
.ceo-text {max-width: 752px;margin: 0 auto;position: relative;
    &__title {font-family: 'PT Serif', serif;font-size: 1.5rem;line-height: 1;letter-spacing: .2px;color: #000;text-align: center;margin-bottom: 24px;}
    &__line {display: flex;justify-content: center;align-items: center;margin: 16px 0;
        svg {width: 20px;height: 20px;margin: 0 24px;}
        &:before {content: '';display: inline-block;width: 156px;height: 1px;background: #C4C4C4;opacity: .4;}
        &:after {content: '';display: inline-block;width: 156px;height: 1px;background: #C4C4C4;opacity: .4;}
    }
    &__info {color: #000;font-size: .875rem;line-height: 1.5;text-align: center;letter-spacing: .2px;max-height: 105px;overflow: hidden;transition: max-height .3s;}
    &__btn {font-size: .875rem;letter-spacing: .2px;color: #BF8F6C;position: relative;max-width: 80px;text-align: center;margin: 28px auto;height: 32px;cursor: pointer;
        &:before {content: '';position: absolute;width: 10px;height: 10px;border-bottom: 1px solid #BF8F6C;border-right: 1px solid #BF8F6C;transform: translateX(-50%) rotate(45deg);bottom: 2px;left: 50%;transition: transform .3s;}
    }
    &:before {content: '';position: absolute;background: linear-gradient(180deg, rgba(255, 255, 255, 0) -54.04%, #FFFFFF 50.51%);bottom: 0;left: 0;right: 0;height: 140px;}
    &.opened {
        .ceo-text {
            &__info {max-height: 1000px;}
            &__btn {
                span {display: none;}
                &:before {transform: translateX(-50%) rotate(225deg);}
            }
        }
        &:before {display: none;}
    }
}
.banner {background-color: #E7E5E8;height: 360px;display: flex;background-repeat: no-repeat;background-size: cover;background-position: 50% 50%;justify-content: center;align-items: center; max-width: 1440px;margin:  0 auto;
    &__info {max-width: 425px;margin-left: 15%;}
    &__title {font-size: 1.5rem;line-height: 1;letter-spacing: .2px;font-weight: 400;color: #000;margin: 0;}
    &__desc {font-size: 1rem;line-height: 1.5;letter-spacing: .2px;color: #828282;margin-top: 32px;
        &--mobile {display: none;}
    }
}
.filter {
    &__row {display: flex;justify-content: space-between;margin: 20px 0;}
    &__btn {display: flex;align-items: center;cursor: pointer;
        svg {width: 20px;height: 20px;margin-right: 17px;}
        span {font-size: .75rem;line-height: 2;letter-spacing: .2px;color: #000;}
        &-reset {text-align: center;margin-top: 13px;}
    }
    &__sort {display: flex;padding-right: 17px;flex-grow: 2;justify-content: flex-end;
        span {font-size: .75rem;line-height: 2;letter-spacing: .2px;color: #000;opacity: .5;margin-right: 15px;}
    }
    &__select {position: relative;font-size: .75rem;letter-spacing: .2px;color: #000;display: flex;align-items: center;
        a {color: #000;text-decoration: none;white-space: nowrap;display: block;text-align: center;letter-spacing: .2px;margin-bottom: 5px;transition: opacity .3s;
            &:hover {opacity: .5;}
        }
        &.opened {
            .filter {
                &__option {display: block;}
                &__selected {
                    &:before {transform: rotate(225deg) translateY(-2.5px);}
                }
            }
        }
    }
    &__option {position: absolute;top: 100%;left: calc(50% - 10px);transform: translateX(-50%);padding:  5px 10px 0;background-color: #fff;display: none;z-index: 5;}
    &__selected {position: relative;padding-right: 20px;cursor: pointer;
        &:before {content: '';position: absolute;width: 7px;height: 7px;border-bottom: 1px solid #000;border-right: 1px solid #000;transform: rotate(45deg);transition: transform .3s;right: 0;top: 2.5px;}
    }
    &__view {display: none;}
    &__wrap {position: absolute;top: 0;left: 0;width: 382px;background-color: #fff;bottom: 0;z-index: 2;transform: translateX(-150%);opacity: 0;transition: transform .3s, opacity .3s;
        &.opened {transform: translateX(0);z-index: 5;opacity: 1;}
    }
    &__content {width: 375px;border-right: 1px solid #efefef;height: 100%;}
    &__group {padding: 0 15px 0 47px;margin-bottom: 44px;
        &--border {border-top: 1px solid #efefef;margin-bottom: 30px;}
    }
    &__title {font-size: .812rem;color: #000;line-height: 1;font-weight: 500;padding: 15px 0 19px;
        &--collapse {position: relative;cursor: pointer;
            &:before {content: '';position: absolute;top: 45%;transform: translateY(-50%) rotate(45deg);right: 7px;width: 7px;height: 7px;display: inline-block;border-bottom: 1.8px solid #CDBB9F;border-right: 1.8px solid #CDBB9F;}
        }
    }
    &__collapse {margin-right: -15px;padding-right: 15px;max-height: 46px;overflow: hidden;border-bottom: 1px solid #efefef;transition: max-height .3s;
        &.collapsed {max-height: 1000px;border-bottom: none;padding-bottom: 30px;
            .filter {
                &__title {
                    &--collapse {
                        &:before {transform: translateY(-50%) rotate(225deg);top: 55%;}
                    }
                }
            }
        }
    }
    &__close {font-size: .75rem;line-height: 2;letter-spacing: .2px;color: #000;position: relative;margin-left: 47px;padding-left: 26px;display: inline-block;cursor: pointer;transition: opacity .3s;margin-bottom: 7px;
        &:hover {opacity: .5;}
        &:before {content: '';position: absolute;top: 50%;transform: translateY(-50%) rotate(45deg);width: 8px;height: 1px;border-radius: 6px;left: 5px;background-color: #000;}
        &:after {content: '';position: absolute;top: 50%;transform: translateY(-50%) rotate(-45deg);width: 8px;height: 1px;border-radius: 6px;left: 5px;background-color: #000;}
    }
    &__checkbox {display: flex;align-items: center;position: relative;cursor: pointer;margin: 4px 2px 16px;
        input {width: 20px;height: 20px;background-color: #fff;border: 1px solid #CDBB9F;}
        b {margin: 0 5px 0 10px;font-weight: 500;font-size: .812rem;color: #7A7876;line-height: 1;}
        span {font-size: .812rem;line-height: 1;color: #CBC7C1;font-weight: 400;}
        input:checked + b {
            &:before {content:'';position: absolute;top: 6px;left: 6px;width: 9px;height: 5px;border-bottom: 1px solid #000;border-left: 1px solid #000;transform: rotate(-45deg);}
        }
    }
    &__reset {font-size: .75rem;color: #CDBB9F;line-height: 1;position: relative;border: none;padding: 0;transition: opacity .3s;
        &:before {content: '';position: absolute;bottom: -2px;left: 0;width: 100%;height: 1px;background: linear-gradient(180deg, #CDBB9F 0%, rgba(205, 187, 159, 0.5) 100%);}
        &:hover {opacity: .5;}
    }
}
.catalog {margin-bottom: 125px;
    &__items {display: flex;margin: 0 -2px;flex-wrap: wrap;
        .item {width: calc(100% / 4 - 4px);margin: 0 2px 56px;}
    }
    &__filter {
        &-range {
            .ui-slider {position: relative;background-color: rgba(203, 199, 193, 0.47);height: 2px;margin-top: 22px;}
            .ui-slider .ui-slider-range {position: absolute;z-index: 1;height: 2px;border: 0;background: #CDBB9F;}
            .ui-slider .ui-slider-handle {position: absolute;margin-left: -1px;width: 9px;height: 9px;cursor: pointer;border-radius: 50%;border: 1px solid #cdbb9f;top: -4.5px;background: #F5F1EC;z-index: 2;}
            &-dots {border: 1px solid #f4f4f4;font-size: .75rem;line-height: 1;padding: 8px 13px 6px;width: 91px;color: #6F6D6D;}
            label {
                &:first-child {margin-right: 28px;position: relative;
                    &:before {content: '';position: absolute;display: inline-block;width: 12px;height: 1px;background-color: #CBC7C1;opacity: .2;top: 50%;transform: translateY(-50%);right: -18px;}
                }
            }
        }
        &-value {margin: 4px 0;}
    }
}
.item {display: flex;flex-direction: column;justify-content: space-between;
    &__title {font-size: 1rem;line-height: 1.5;color: #000;text-decoration: none;letter-spacing: .2px;transition: opacity .3s;margin: 0 10px;display: inline-block;flex-grow: 2;
        &:hover {opacity: .5;}
    }
    &__slider {margin-bottom: 20px;
        .slick-arrow {bottom: 32px;transform: none;top: auto;right: 23px;opacity: 0;transition: opacity .3s;z-index: 1;
            &:before {content: '';width: 12px;height: 12px;border-bottom: 2px solid #000;border-right: 2px solid #000;left: 50%;top: 50%;transform: translate(-50%,-50%) rotate(-45deg);display: inline-block;position: absolute;z-index: 1;}
        }
        .slick-prev {left: 19px;
            &:before {transform: translate(-50%,-50%) rotate(135deg);}
        }
        .slick-dots {bottom: 13px;opacity: 0;transition: opacity .3s;
            li {width: 6px;height: 6px;border-radius: 50%;margin: 0 6px;}
            .slick-active {width: 6px;height: 6px;border-radius: 50%;margin: 0 6px;}
        }
    }
    &__slide {
        img {width: 100%;}
    }
    &__price {display: flex;margin: 0 4px;
        .price {font-size: .875rem;line-height: 2.3;
            &--discount {margin-left: 18px;}
        }
    }
    &:hover {
        .slick-arrow {opacity: 1;}
        .slick-dots {opacity: 1;}
    }
}
.pagination {display: flex;flex-wrap: wrap;justify-content: center;margin: 5px 0;
    &__arrow {display: flex;justify-content:center;align-items: center;margin: 0 13px;
        svg {width: 20px;height: 9px;}
    }
    &__item {font-size: .875rem;line-height: 2.3;opacity: .5;color: #1f1f1f;transition: opacity .3s;text-decoration: none;margin: 0 11px;
        &.current {opacity: 1;}
        &:hover {opacity: 1;}
    }
}
.card {
    &__main {display: flex;margin: 96px 0;}
    &__slider {padding-left: 50px;margin-bottom: 0;pointer-events: none;
        &-wrap {width: calc(100% - 320px);max-width: 905px;padding-right: 130px;display: flex;}
        &-arrows {display: none;}
        &-zoom {display: none;}
    }
    &__slide {
        img {width: 100%;height: 100%;object-fit: cover;display: block;}
    }
    &__navslider {width: 60px;margin-bottom: 0;
        &-wrap {display: flex;align-items: center;}
    }
    &__navslide {margin: 8px 0;opacity: .5;transition: opacity .3s;cursor: pointer;
        img {width: 100%;height: 100%;object-fit: cover;display: block;}
        &.slick-current {opacity: 1;}
    }
    &__inner {width: calc(100% - 60px);}
    &__aside {flex-grow: 1;max-width: 320px;display: flex;justify-content: center;flex-direction: column;padding-bottom: 78px;min-width: 320px;}
    &__title {font-family: 'PT Serif', serif;font-size: 2rem;line-height: 1.2;color: #000;letter-spacing: .2px;opacity: .8;margin: 0 0 12px;font-weight: 400;}
    &__article {font-size: 1rem;line-height: 1.5;letter-spacing: .2px;color: #000;opacity: .5;margin-bottom: 25px;}
    &__price {display: flex;justify-content: space-between;
        .price {font-size: 1.25rem;line-height: 1.6;}
    }
    &__select {max-height: 44px;overflow: hidden;position: relative;border-top: 1px solid #C6C6C6;display: flex;flex-direction: column;margin: 24px 0;transition: box-shadow .3s;
        &:hover {box-shadow: 0 0 15px 5px #f1f1f1;}
        &.opened {overflow: visible;
            .card__select-arrow {
                &:before {transform: translateY(-20%) rotate(225deg);}
            }
            &:hover {box-shadow: none;}
        }
        &-arrow {width: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;cursor: pointer;
            &:before {content: '';position: absolute;top: 47%;right: 25px;width: 6px;height: 6px;border-bottom: 2px solid #CDBB9F;border-right: 2px solid #CDBB9F;transform: translateY(-50%) rotate(45deg);transition: transform .3s;}
        }
    }
    &__option {display: block;color: #808080;letter-spacing: .2px;font-size: 1rem;line-height: 1.5;padding: 9px 24px;background-color: #fff;text-decoration: none;border: 1px solid #C6C6C6;border-top: none;transition: background-color .3s;
        &:hover {background-color: #f1f1f1;}
        &.selected {order: -1;}
    }
    &__about {border: 1px solid #e7e7e7;padding: 50px 165px;}
    &__tabs {display: flex;}
    &__tab {color: #333;opacity: .5;letter-spacing: .2px;font-size: 1.25rem;line-height: 1.2;transition: opacity .3s, color .3s;position: relative;margin-right: 93px;cursor: pointer;
        &:last-child {margin-right: 0;}
        &:before {content: '';position: absolute;bottom: -24px;left: 0;right: 0;background: #BF8F6C;height: 1px;opacity: 0;transition: opacity .3s;}
        &.active {opacity: 1;color: #BF8F6C;pointer-events: none;
            &:before {opacity: 1;}
        }
    }
    &__row {display: flex;justify-content: space-between;width: 100%;}
    &__col {width: 50%;max-width: 420px;}
    &__content {display: none;padding: 60px 0 20px;
        &.active {display: flex;}
        h3 {font-size: 1.25rem;line-height: 1.2;letter-spacing: .2px;color: #000;font-weight: 400;margin: 0 0 25px;}
        p {font-size: 1.25rem;line-height: 1.2;letter-spacing: .2px;color: #000;font-weight: 400;margin: 0;}
        b {font-weight: 600;margin-right: 5px;}
    }
    &__stones {display: flex;flex-wrap: wrap;margin-bottom: -50px;}
    &__stone {width: calc(100% / 4);padding-right: 20px;margin-bottom: 50px;
        &-title {font-weight: 600;font-size: .875rem;line-height: 1.72;letter-spacing: .2px;color: #000;margin-bottom: 12px;}
        &-list {padding-left: 22px;}
        &-char {font-size: .75rem;letter-spacing: .2px;color: #000;position: relative;line-height: 2;
            &:before {content: '';width: 6px;height: 6px;background: #BF8F6C;display: inline-block;position: absolute;left: -22px;border-radius: 50%;top: 9px;}
        }
    }
    &__sale {background: #F8F8F8;padding: 47px 40px 64px;margin: 96px 0;
        &-title {font-size: 2rem;line-height: 1.25;letter-spacing: .2px;color: #000;margin-bottom: 47px;font-family: 'PT Serif', serif;}
        &-row {display: flex;align-items: center;}
        &-product {display: flex;align-items: center;}
        &-img {max-width: 160px;margin-right: 29px;
            img {width: 100%;height: 100%;object-fit: cover;display: block;}
        }
        &-info {}
        &-name {font-size: 1rem;letter-spacing: .2px;color: #000;margin: 0 0 5px 5px;font-weight: 400;text-decoration: none;transition: opacity .3s;display: block;
            &:hover {opacity: .5;}
        }
        &-price {display: flex;
            .price {font-size: .875rem;line-height: 2.29;margin-right: 25px;
                &:last-child {margin-right: 0;}
            }
        }
        &-plus {width: 48px;height: 48px;position: relative;margin: 0 34px;
            &:before {content: '';position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);height: 1px;width: 48px;background: #bf8f6b;}
            &:after {content: '';position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%) rotate(-90deg);height: 1px;width: 48px;background: #bf8f6b;}
        }
        &-amount {width: 48px;height: 17px;position: relative;margin: 0 36px;
            &:before {content: '';position: absolute;left: 50%;height: 1px;width: 48px;background: #bf8f6b;top: 0;transform: translateX(-50%);}
            &:after {content: '';position: absolute;left: 50%;height: 1px;width: 48px;background: #bf8f6b;bottom: 0;transform: translateX(-50%);}
        }
        &-total {flex-grow: 1;
            span {font-size: 1.5rem;line-height: 1.33;color: #1f1f1f;text-align: center;display: block;margin-bottom: 22px;}
        }
    }
}
.also-like {
    &__slider {margin: 90px -2px;z-index: 1;
        &-wrap {position: relative;width: 100%;}
        &-arrows {position: absolute;top: 0;left: -32px;right: -32px;display: flex;justify-content: space-between;}
    }
    &__slide {text-decoration: none;color: #000;margin: 0 2px;
        &:hover {
            .also-like__title {opacity: .5;}
        }
    }
    &__img {margin-bottom: 29px;
        img {width: 100%;height: 100%;object-fit: cover;}
    }
    &__title {font-weight: 400;font-size: 1rem;line-height: 1.5;letter-spacing: .2px;color: #000;margin: 0 0 2px;transition: opacity .3s;}
    &__price {display: flex;
        .price {margin-right: 25px;font-size: .875rem;line-height: 2.3;
            &:last-child {margin-right: 0;}
        }
    }
}
.features {display: flex;flex-wrap: wrap;justify-content: space-around;padding: 100px 10px;
    &__item {max-width: 308px;width: 308px;}
    &__img {display: flex;justify-content: center;align-items: center;margin-bottom: 28px;height: 32px;
        span {font-size: 1.5rem;line-height: 1;color: #000;letter-spacing: .2px;}
    }
    &__title {font-size: .812rem;line-height: 1.5;letter-spacing: .2px;color: #000;text-align: center;margin-bottom: 16px;}
    &__info {font-size: .812rem;line-height: 1.5;letter-spacing: .2px;color: #000;opacity: .6;text-align: center;}
}
.bg-grey {background: #F8F8F8;display: flex;}
.hidden-block {display: none;}
.popup {max-width: 564px;width: 100%;padding: 0 30px;
    &__content {max-width: 320px;margin: 0 auto;padding: 60px 0;min-height: 594px;display: flex;justify-content: center;align-items: center;flex-direction: column;}
    &__title {font-size: 1rem;line-height: 1.5;letter-spacing: .2px;color: #000;margin-bottom: 8px;text-align: center;}
    &__subtitle {font-size: .75rem;line-height: 1.33;letter-spacing: .2px;opacity: .5;color: #000;text-align: center;margin-bottom: 40px;}
    &__field {position: relative;width: 100%;display: block;margin-bottom: 25px;
        input {background-color: transparent;border: none;border-bottom: 1px solid #ededed;width: 100%;padding: 15px 0;color: #353535;letter-spacing: .2px;}
        span {position: absolute;color: #353535;line-height: 1.5;letter-spacing: .2px;left: 0; opacity: 1;transform: translateY(-27px);transition: transform .3s, opacity .3s;font-size: .75rem;bottom: 12px;}
        input:placeholder-shown + span {font-size: 1rem;opacity: .5;bottom: 12px;transform: translateY(0);}
        input:focus + span {opacity: 1;transform: translateY(-27px);font-size: .75rem;}
        label.error {position: absolute;bottom: -15px;font-size: .75rem;color: red;left: 0;}
    }
    &__btn {margin-top: 45px;width: 100%;
        .btn {width: 100%;}
        &--small {
            a {color: #000;text-decoration: underline;letter-spacing: .2px;font-size: .75rem;line-height: 1.33;margin-top: 40px;}
        }
    }
    .fancybox-close-small {top: 22px;right: 18px;}
    &__icon {margin-bottom: 20px;
        svg {width: 38px;height: 38px;}
    }
}
.contacts {
    &__row {display: flex;margin: 0 -54px;}
    &__col {width: 50%;margin: 0 4px;}
    &__map {height: 372px;background-color: #f1f1f1;margin-bottom: 66px;}
    &__address {margin-bottom: 75px;
        &:last-child {margin-bottom: 0;}
        &-wrap {padding: 0 50px;}
        &-row {display: flex;}
        &-col {width: 50%;display: flex;
            &:first-child {flex-direction: column;}
            &:last-child {flex-wrap: wrap;margin: 0 -20px;width: calc(50% + 40px);justify-content: flex-end;}
        }
    }
    &__city {font-size: 1.5rem;line-height: 1.2;color: #000;letter-spacing: .2px;margin-bottom: 12px;}
    &__title {font-size: 1rem;color: #BF8F6C;line-height: 1.2;letter-spacing: .2px;margin-bottom: 32px;}
    &__street {display: flex;align-items: center;text-decoration: underline;letter-spacing: .2px;color: #000;font-size: .875rem;line-height: 1.2;
        svg {width: 13px;min-width:13px;height: 16px;margin-right: 12px;}
    }
    &__mail {max-width: 221px;font-size: .875rem;line-height: 1.2;color: #000;opacity: .6;margin: 19px 0 16px;}
    &__phone {font-size: 1rem;font-weight: 300;line-height: 2;letter-spacing: .2px;color: #353535;text-decoration: none;}
    &__group {font-size: .875rem;line-height: 1.2;color: #000;letter-spacing: .2px;max-width: 120px;margin: 0 20px 24px;}
    &__day {margin-bottom: 16px;}
    &__time {opacity: .6;}
}
.partnership {background-color: #f7f7f7;padding: 48px;margin: 88px 0 0;
    &__row {display: flex;justify-content: space-between;align-items: center;}
    &__col {}
    &__title {font-weight: 500;font-size: 1.5rem;line-height: 1.2;letter-spacing: .2px;color: #000;margin-bottom: 20px;}
    &__phones {display: flex;justify-content: space-between;width: 100%;align-items: center;flex-wrap: wrap;margin-bottom: -20px;}
    &__phone {display: flex;align-items: center;margin-right: 20px;margin-bottom: 20px;
        &:last-child {margin-right: 0;}
        a {color: #000;text-decoration: none;display: flex;align-items: center;}
        span {font-size: 1.25rem;line-height: 1.2;letter-spacing: .2px;}
        svg {display: block;max-width: 100%;margin-right: 26px;min-width: 32px}
        & > span {margin-left: 5px;}
    }
    &__btn {display: flex;padding-left: 40px;
        .btn {min-width: 240px;margin-right: 24px;
            &:last-child {margin-right: 0;}
        }
    }
}
@media screen and (max-width: 1440px) {
    .mbox {padding: 0 40px;}
    .container {padding: 0 40px;}
    .main {
        &__slider {
            .slick-list {margin: 0 -310px;}
            &-wrap {margin: 0 -40px 30px;height: 593px;
                &:before {width: 100px;right: calc(100% - 100px);}
                &:after {width: 100px;left: calc(100% - 100px);}
            }
        }
        &__slide {padding: 40px;
            &-img {margin-bottom: 24px;}
            &-desc {font-size: 1.25rem;}
            &-wrap {
                &.slick-center {
                    .main__slide {
                        &-desc {text-align: left;}
                        &-price {justify-content: flex-start;}
                    }
                }
            }
        }
        &__banner {
            &-company {font-size: 1.5rem;}
            &-title {font-size: 2.5rem;line-height: 1.2;max-width: 480px;}
            &-content {left: 73px;}
            &-wrap {margin-bottom: 8px;}
        }
        &__double {margin: 0 -4px;
            .main {
                &__item {width: calc(100% / 2 - 8px);}
            }
        }
        &__quadro {margin: 0 -4px;
            .main {
                &__item {width: calc(100% / 4 - 8px);}
            }
        }
        &__item {margin: 0 4px 8px;
            h2 {font-size: 1.5rem;line-height: 2.33;left: 32px;bottom: 28px;}
        }
    }
    .title {font-size: 2rem;margin: 73px 0;}
    .ceo-text {
        &__title {margin-bottom: 19px;}
    }
    footer {padding-top: 86px;}
    .instagram {
        &__slider {max-width: 1280px;padding: 0;margin: 0 auto 130px;
            &-wrap {
                &:before {width: 150px;}
                &:after {width: 150px;}
            }
        }
    }
    .card {
        &__main {padding-right: 90px;margin: 50px 0;}
        &__slider {padding-left: 40px;
            &-wrap {width: calc(100% - 294px);padding-right: 108px;}
        }
        &__aside {max-width: 294px;min-width: 294px;padding-bottom: 0;}
        &__about {padding: 50px 100px;}
        &__sale {margin: 50px 0;
            &-price {white-space: nowrap;}
            &-plus {margin: 0 20px;}
            &-amount {margin: 0 20px;}
            &-img {margin-right: 15px;}
        }
    }
    .also-like {
        &__slider {
            &-arrows {left: -25px;right: -25px;}
        }
    }
}
@media screen and (max-width: 1280px) {
    .header {max-width: none;margin: 0 -10px;padding: 36px 0 19px;
        &__logo {width: 102px;height: 41px;}
        &__nav {margin: 34px 0;}
    }
    .main {

    }
}

@media screen and (max-width: 1200px) {
    .card {
        &__sale {
            &-row {flex-wrap: wrap;justify-content: center;}
            &-product {width: 44%;}
            &-plus {width: 12%;margin: 0;}
            &-amount {flex-basis: 100%;margin: 50px 0;}
            &-total {max-width: 326px;}
        }
        &__stone {width: calc(100% / 3);}
    }
}

@media screen and (max-width: 992px) {
    .mbox {padding: 0 15px;}
    .container {padding: 0;}
    .header {padding: 7px 0;margin: 0;
        &__phone {display: none;}
        &__mobmenu {display: block;flex-basis: 20%;}
        &__nav {display: none;}
        &__logo {width: 76px;height: 34px;}
        &__search {
            &-btn {display: flex;justify-content: center;align-items: center;}
            svg {width: 29px;}
        }
        &__burger {position: relative;width: 25px;height: 25px;cursor: pointer;
            span {position: absolute;width: 8px;height: 1px;background-color: #313F35;top: 50%;left: 0;transform: translateY(-50%);
                &:before {position: absolute;content: '';width: 15px;height: 1px;background-color: #313F35;top: -7px;left: 0;}
                &:after {position: absolute;content: '';width: 14px;height: 1px;background-color: #313F35;bottom: -7px;left: 0;}
            }
            &.opened {
                span {height: 0;width: 17px;
                    &:before {width: 14px;height: 2px;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(45deg);border-radius: 5px;}
                    &:after {width: 14px;height: 2px;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(-45deg);border-radius: 5px;}
                }
            }
        }
    }
    .mobmenu {position: absolute;top: 100%;padding: 18px 48px 0;width: calc(100% + 30px);left: -15px;background-color: #fff;max-width: 414px;
        &.opened {display: block;}
        &__title {font-size: 1rem;line-height: 1.5;letter-spacing: .2px;color: #353535;opacity: .5;margin-bottom: 12px;}
        &__list {font-size: 1.25rem;line-height: 1.2;letter-spacing: .2px;color: #353535;text-decoration: none;display: block;margin-bottom: 20px;}
        &__group {margin-bottom: 28px;}
        &__phone {font-size: 1.25rem;line-height: 1.2;color: #353535;text-decoration: none;letter-spacing: .2px;display: block;margin: 40px 0 15px;}
        &__info {font-size: 1rem;line-height: 1.25;color: #353535;opacity: .5;}
        &__btn {margin: 36px 0;
            .btn {margin-bottom: 15px;}
        }
        &-overlay {display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(125, 125, 125, 0.72);z-index: 10;}
    }
    .search {top: -7px;
        &__head {padding: 14px 14px 14px 2px;}
        &__ico {margin: 0 27px 0 18px;}
        &__result {padding-top: 32px;}
        &__row {margin: 0 20px;padding: 20px 4px 19px 0;}
        &__title {
            h3 {letter-spacing: .2px;}
            span {font-size: .875rem;}
        }
        &__price {display: none;}
    }
    footer {background: linear-gradient(0deg, #F4F6FA 37.25%, rgba(244, 246, 250, 0) 88.83%);padding-top: 72px;}
    .instagram {
        &__title {margin: 0 15px 12px;}
        &__subtitle {padding: 0 15px;margin-bottom: 40px;}
    }
    .footer {padding: 72px 0 48px;
        &-wrap {border-top: none;}
        &__hidden {display: block;width: 100%;}
        &__date {display: flex;flex-direction: column;align-items: center;font-size: 1rem;line-height: 1.5;text-align: center;letter-spacing: .1em;color: #353535;opacity: .5;}
        &__btn {display: flex;margin: 88px 0;justify-content: center;
            .btn {margin: 0;margin-right: 20px;
                &:last-child {margin-right: 0;}
            }
        }
        &__top {flex-direction: column;align-items: center;margin-bottom: 0;}
        &__logo {order: -1;width: 123px;height: 50px;}
        &__phone {margin: 56px 0 48px;
            a {font-size: 2rem;line-height: 1;text-transform: uppercase;font-weight: 300;}
        }
        &__email {display: none;}
        &__nav {flex-direction: column;max-width: 302px;
            a {font-size: 1.5rem;line-height: 1.3;letter-spacing: 2px;font-weight: 200;margin-right: 0;margin-bottom: 48px;
                &:last-child {margin-bottom: 0;}
            }
        }
        &__bottom {margin-top: 75px;}
        &__copyright {opacity: .6;font-size: .75rem;line-height: 1.33;;letter-spacing: .2px;}
    }
    .main {
        &__banner {
            &-wrap {margin-bottom: 8px;}
        }
        &__double {margin: 0 -4px;
            .main {
                &__item {width: 100%;}
            }
        }
        &__quadro {margin: 0 -4px;
            .main {
                &__item {width: calc(100% / 2 - 8px);}
            }
        }
        &__item {margin: 0 4px 8px;
            h2 {font-size: 1.25rem;left: 50%;transform: translateX(-50%);bottom: 22px;}
        }
        &__slider {
            &-wrap {height: auto;margin-bottom: 72px;
                &:before {display: none;}
                &:after {display: none;}
            }
            .slick-arrow {right: 36px;width: 50px;font-size: 0;}
            .slick-prev {left: 29px;}
        }
        &__slide {padding: 0;margin: 0 15px;}
    }
    .title {font-size: 2rem;line-height: 1.5;margin: 60px 0;
        &--left {margin: 40px 0;}
    }
    .ceo-text {
        &__title {margin: 0 15px 20px;}
        &__line {
            &:before {width: 140px;}
            &:after {width: 140px;}
        }
        &__info {max-height: 204px;margin: 0 15px;}
    }
    .catalog {
        .item {width: calc(100% / 3 - 4px);}
    }
    .card {
        &__main {flex-direction: column;padding-right: 0;align-items: center;}
        &__slider {
            &-wrap {width: 100%;padding: 0 25px;}
        }
        &__aside {margin-top: 30px;max-width: 326px;}
        &__sale {padding: 48px 20px 58px;
            &-title {text-align: center;margin-bottom: 40px;}
            &-row {flex-direction: column;}
            &-plus {margin: 28px 0;}
            &-amount {margin: 40px 0;min-height: 17px;}
            &-product {width: 100%;justify-content: center;}
            &-total {
                span {margin-bottom: 56px;}
            }
        }
        &__stone {width: calc(100% / 2);}
        &__about {padding: 25px 50px;}
        &__select {
            &.opened {
                .card__option {z-index: 2;
                    &.selected {z-index: auto;}
                }
            }
        }
    }
    .contacts {
        &__row {flex-direction: column;margin: 0;}
        &__col {width: auto;margin: 0 -15px;margin-bottom: 40px;
            &:last-child {margin-bottom: 0;}
        }
        &__map {margin-bottom: 40px;height: 300px;}
        &__address {margin-bottom: 40px;
            &-wrap {padding: 0 15px;}
        }
    }
    .partnership {margin: 40px -15px;padding: 30px;
        &__row {flex-direction: column;}
        &__phones {margin-bottom: 20px;}
        &__title {text-align: center;}
        &__btn {padding-left: 0;}
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &__btn {flex-direction: column;
            .btn {margin-bottom: 20px;margin-right: auto;margin-left: auto;
                &:last-child {margin-bottom: 0;margin-right: auto;}
            }
        }
    }
    .instagram {
        &__slider {padding: 0;
            &-wrap {
                &:before {display: none;}
                &:after {display: none;}
            }
            .slick-list {padding-right: 44px;}
            &-arrows {max-height: 355px;padding: 0 15px;}
        }
    }
    .main {
        &__banner {
            &-img {display: none !important;
                &--mobile {display: block!important;}
            }
            &-content {left: 0;top: 0;transform: none;bottom: 0;right: 0;margin: 0 15px;display: flex;flex-direction: column;justify-content: center;align-content: center;}
            &-company {display: none;}
            &-title {font-size: 1.75rem;line-height: 1.15;text-align: center;margin: 0 auto 32px;}
            &-btn {text-align: center;
                a {padding: 12px 36px;font-weight: 500;}
            }
        }
    }
    .main {
        &__slider {
            .slick-arrow {display: none;}
        }
        &__slide {
            &-wrap {
                &.slick-center {
                    .main {
                        &__slide {
                            &-desc {text-align: left;margin-bottom: 4px;}
                            &-price {justify-content: flex-start;}
                        }
                    }
                }
            }
        }
    }
    .filter {
        &__view {display: flex;align-items: center;padding-right: 7px;
            span {width: 24px;height: 24px;display: flex;justify-content: center;align-items: center;
                &.selected {opacity: .5;pointer-events: none;}
            }
            .js-grid-view {display: flex;flex-wrap: wrap;margin: -1.5px;
                i {width: 8px;height: 8px;border: 1.8px solid #262F56;margin: 1.5px;}
            }
            .js-solo-view {border: 1.8px solid #262F56;width: 12px;height: 18px;margin-left: 18px;}
        }
        &__sort {padding-right: 25px;}
    }
    .catalog {
        .item {width: calc(100% / 2 - 2px);margin: 0 1px 24px;}
        &__items {margin: 0 -16px;
            &.solo {
                .item {width: 100%;margin: 0 1px 40px;}
            }
            &.grid {margin: 0 -10px;}
        }
    }
    .item {
        &:hover {
            .slick-dots {opacity: 0;}
            .slick-arrow {opacity: 0;}
        }
    }
    .banner {height: 144px;justify-content: flex-start;background-position: -65px 50%;
        &__title {font-size: 1rem;line-height: 1.5;letter-spacing: .2px;}
        &__desc {font-size: .875rem;line-height: 1.44;color: #828282;margin-top: 8px;display: none;
            &--mobile {display: block;margin-right: 5px;}
        }
        &__info {margin-left: 28%;}
        &--delivery {background-position: -152px 50%;}
    }
    .card {
        &__main {margin: 0 -15px;}
        &__about {border: none;padding: 42px 15px 0;}
        &__stones {margin: 0 -30px 0;}
        &__stone {padding: 27px 30px;margin-bottom: 0;border-bottom: 1px solid #C4C4C4;
            &:nth-child(odd) {border-right: 1px solid #C4C4C4;}
        }
        &__content {padding: 40px 0 0;
            p {font-size: 1rem;line-height: 1.5;}
            h3 {font-size: 1rem;line-height: 1.5;}
        }
        &__sale {margin: 0 -15px;
            &-total {width: 100%;
                span {font-size: 2.25rem;margin-bottom: 49px;}
            }
        }
        &__tab {margin-right: 32px;
            &.active {
                &:before {bottom: -16px;}
            }
        }
        &__row {padding-bottom: 20px;flex-direction: column;}
        &__col {width: 100%;margin-bottom: 20px;
            &:last-child {margin-bottom: 0;}
        }
        &__navslider {display: none;}
        &__slider {pointer-events: all;padding: 0;
            &-wrap {padding: 0;position: relative;padding-bottom: 50px;}
            &-arrows {display: flex;position: absolute;left: 30px;right: 30px;justify-content: space-between;height: 80px;align-items: center;}
            .slick-dots {bottom: -59px;
                li {background: #1F1F1F;width: 6px;height: 6px;opacity: .2;border-radius: 50%;margin: 0 6px;transition: opacity .3s;
                    &.slick-active {opacity: 1;}
                }
            }
            &-zoom {position: absolute;display: block;right: 32px;top: 32px;z-index: 5;pointer-events: none;
                svg {width: 20px;height: 19px;}
            }
        }
        &__inner {width: 100%;}
        &__title {font-size: 1.5rem;line-height: 1.2;margin-bottom: 8px;}
        &__aside {margin: 28px 15px 0;}
        &__article {margin-bottom: 17px;}
        &__select {margin: 35px 0 28px;}
    }
    .title {
        &--small {font-size: 2rem;line-height: 1;margin: 56px 0;
            &:before {bottom: -25px;}
        }
    }
    .also-like {
        &__slider {margin: 82px -16px 130px;
            .slick-list {padding-right: 62px;}
            &-arrows {top: auto;left: 30px;right: 30px;bottom: -104px;
                .slider__arrows {min-height: 80px!important;}
            }
        }
        &__slide {margin: 0 16px;}
    }
    .features {padding: 56px 10px;
        &__item {margin-bottom: 80px;
            &:last-child {margin-bottom: 0;}
        }
    }
    .partnership {padding: 40px 15px;
        &__title {margin-bottom: 40px;}
        &__phones {flex-direction: column;}
        &__phone {margin-right: 0;}
        &__btn {flex-direction: column;
            .btn {margin-bottom: 20px;margin-right: 0;
                &:last-child {margin-bottom: 0;}
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .filter {
        &__row {flex-wrap: wrap;}
        &__sort {order: 2;width: 100%;justify-content: flex-start;margin-top: 15px;}
    }
    .banner {
        &__info {margin-left: 150px;}
    }
    .card {
        &__slide {
            height: 324px;
        }
        &__sale {
            &-img {max-width: 120px;}
        }
    }
}

@media screen and (max-width: 414px) {
    .filter {
        &__wrap {width: 100%;bottom: auto;padding-bottom: 30px;}
        &__content {width: 100%;border-right: none;padding-bottom: 30px;border-bottom: 1px solid #efefef;}
        &__group {padding: 0 15px;max-width: 350px;margin-left: auto;margin-right: auto;
            &--border {border-top: none;position: relative;
                &:before {content: '';width: 100vw;height: 1px;background-color: #efefef;top: 0;position: absolute;left: 50%;transform: translateX(-50%);}
            }
        }
        &__collapse {margin-right: 0;padding-right: 0;}
    }
}

@media screen and (max-width: 375px) {
    .mobmenu {padding: 18px 33px;}
    .footer {
        &__nav {}
    }
    .catalog {
        &__items {
            &.grid {
                .item {
                    &__price {flex-direction: column;justify-content: center;align-items: flex-start;margin: 5px 11px 0;
                        .price {margin: 0;}
                    }
                }
            }
        }
    }
    .card {
        &__tabs {flex-direction: column;align-items: center;}
        &__tab {margin-bottom: 25px;margin-right: 0;
            &:last-child {margin-bottom: 0;}
        }
        &__stone {width: 100%;}
        &__sale {
            &-price {flex-direction: column;align-items: flex-start;
                .price {margin: 0 10px;}
            }
        }
    }
}